* {
  margin: 0;
  padding: 0;
  outline: 0;
}

Body{
  font: 400 1em/1.5 "Neuton";
  background: rgb(29, 93, 122);
  color: white;
  text-align: center;
  margin: 0 ;
}


* { 
  margin:0;
  padding:0;
}

a:link, a:visited {
  font-size:25px;
  background-color:none;
  color: rgb(81, 130, 153);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}



a:hover, a:active {
  color:rgb(81, 130, 153);
  font-size:30px;
}

h1 {
  color: black;
  font-size: 40px;
}

h2 {
  color: rgb(0, 174, 255);
  font-size: 25px;
}
h3 {
  color: rgb(29, 93, 122);
  font-size: 25px;
}

p {
  color: rgb(0, 174, 255);
  font-size:16px;
}

p1 {
  color: black;
  font-size:16px;
}

p3 {
  color: black;
  font-size:20px;
}
ul {
  list-style-type:none;
}
#cabecera {
  color:rgb(180, 153, 255);
  background-color:rgb(206, 226, 233);
  padding:20px; 
}
#contenedor {
  margin:0 auto;
  width:1000px;
}
#contenido {
  background-color: white;/*#ddd; */
  float:left;
  height:800px;
  padding:10px;
  width:760px;
}
#side {
  background-color:rgb(177, 176, 176);
  float:left;
  height:780px;
  padding:20px;
  width:180px;
}
#pie { 
  background-color:#bbb;
  clear:both;
  color:#900;
  padding:10px;
  text-align:center;
}

